/**
 * @file
 * Contains site-specific styles for HFC Reporting website.
 */

.field--name-field-webfocus-code .field__item {
  margin: 0 0 1em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #eee;
  font: 1em/1.5em Inconsolata, Menlo, Consolas, Monaco, "Bistream Vera Sans Mono", "Courier New", Courier, monospace;
}
